/* Colors */
/* Fonts */
/* Shadow */
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Libre Franklin", sans-serif;
  font-size: 1.25rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.header__title {
  color: #969696;
  font-size: 1.9rem;
  font-weight: 300;
}

.header__title--highlight {
  color: #000000;
  font-weight: 700;
}

.header__subtitle {
  font-size: 1rem;
}

.newsletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__form {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter__input {
  width: 80%;
  border: 1px solid #c2d3ff;
  border-radius: 50px;
  padding: 15px;
  margin: 20px 0 10px;
}

.newsletter__input::-webkit-input-placeholder {
  color: #969696;
  opacity: 0.6;
}

.newsletter__input:-ms-input-placeholder {
  color: #969696;
  opacity: 0.6;
}

.newsletter__input::-ms-input-placeholder {
  color: #969696;
  opacity: 0.6;
}

.newsletter__input::placeholder {
  color: #969696;
  opacity: 0.6;
}

.newsletter__input:focus {
  outline: none;
  -webkit-box-shadow: 0px 6px 28px -13px #4f7df3;
          box-shadow: 0px 6px 28px -13px #4f7df3;
}

.newsletter__input--invalid {
  border: 1px solid #ff5263;
}

.newsletter__button {
  width: 90%;
  background-color: #4f7df3;
  border: 1px solid #4f7df3;
  border-radius: 50px;
  color: #ffffff;
  -webkit-box-shadow: 0px 6px 28px -13px #151f29;
          box-shadow: 0px 6px 28px -13px #151f29;
  margin: 10px 0;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in all;
  transition: 0.2s ease-in all;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.newsletter__button:hover {
  opacity: 0.9;
}

.newsletter__alert {
  color: #ff5263;
  font-size: 0.8rem;
  margin: 0;
}

.notification {
  text-align: center;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.notification__text {
  color: green;
}

.visible {
  display: block;
}

.none {
  display: none;
}

.logo {
  text-align: center;
  width: 20%;
  margin: 1.5rem;
}

.container {
  margin: 50px 0;
}

.container__picture {
  width: 100%;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  cursor: pointer;
}

.list__item {
  color: #4f7df3;
  padding: 15px;
}

.footer {
  color: #969696;
  text-align: center;
  font-size: 1rem;
}

.footer__link {
  color: #4f7df3;
  display: inline;
  text-decoration: none;
}

@media screen and (min-width: 1024px) {
  .newsletter {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter__input {
    width: 20%;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .newsletter__alert {
    color: #ff5263;
    font-size: 0.8rem;
    margin: 0 25rem 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter__button {
    width: 10%;
    margin: 10px 0 0 20px;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .logo {
    margin-top: 50px;
    width: 5%;
  }
  .container {
    text-align: center;
  }
  .container__picture {
    width: 50%;
  }
  .list__item:hover {
    background-color: #4f7df3;
    color: #ffffff;
    border-radius: 75%;
    -webkit-transition: 0.2s ease-in all;
    transition: 0.2s ease-in all;
  }
}

/* Colors */
/* Fonts */
/* Shadow */
/*# sourceMappingURL=style.css.map */