@import 'variables';

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font;
    font-size: $basesize;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    &__title {
        color: $gray;
        font-size: 1.9rem;
        font-weight: 300;
        &--highlight {
            color: #000000;
            font-weight: 700;
        }
    }
    &__subtitle {
        font-size: 1rem;
    }
}
.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__form {
        width: 100%;
        text-align: center;
    }
    &__input {
        width: 80%;
        border: 1px solid $secondaryblue;
        border-radius: 50px;
        padding: 15px;
        margin: 20px 0 10px;
        &::placeholder {
            color: $gray;
            opacity: 0.6;
        }
        &:focus {
            outline: none;
            box-shadow: 0px 6px 28px -13px $primaryblue;

        }
        &--invalid {
            border: 1px solid $secondaryred;
        }
    }
    &__button {
        width: 90%;
        background-color: $primaryblue;
        border: 1px solid $primaryblue;
        border-radius: 50px;
        color: #ffffff;
        box-shadow: $shadow;
        margin: 10px 0;
        padding: 15px;
        cursor: pointer;
        transition: 0.2s ease-in all;
    }
    &__button:hover {
        opacity: 0.9;
    }
    &__alert {
        color: $secondaryred;
        font-size: 0.8rem;
        margin: 0 25rem 0 0;
        display: flex;
        justify-content: center;
    }
}
.none {
    display: none;
}
.logo {
    text-align: center;
    width: 20%;
    margin: 1.5rem;
}
.container {
    margin: 50px 0;
    &__picture {
        width: 100%;
    }
}
.list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    cursor: pointer;
    &__item {
        color: $primaryblue;
        padding: 15px;
    }
}
.footer {
    color: $gray;
    text-align: center;
    font-size: 1rem;
    &__link {
        color: $primaryblue;
        display: inline;
        text-decoration: none;
    }
}

@media screen and (min-width: 1024px) {
    .newsletter {
        flex-direction: row;
        justify-content: center;
        &__input {
            width: 20%;
            align-self: center;
        }
        &__button {
            width: 10%;
            margin: 10px 0 0 20px;
            align-self: center;
        }
    }
    .logo {
        margin-top: 50px;
        width: 5%;
    }
    .container {
        text-align: center;
        &__picture {
            width: 50%;
        }
    }
    .list {
        &__item:hover {
            background-color: $primaryblue;
            color: #ffffff;
            border-radius: 75%;
            transition: 0.2s ease-in all;
        }
    }
}