/* Colors */
$primaryblue: hsl(223, 87%, 63%);
$secondaryblue: hsl(223, 100%, 88%);
$secondaryred: hsl(354, 100%, 66%);
$gray: hsl(0, 0%, 59%);
$neutralblue: hsl(209, 33%, 12%);

/* Fonts */
$font: 'Libre Franklin', sans-serif;
$basesize: 1.25rem;

/* Shadow */
$shadow: 0px 6px 28px -13px rgba(21,31,41,1);